<h1><%= @user.name %></h1>
<p><%= image_tag(@user.image.url) if @user.image && @user.image.url %></p>
<p>mail_adress: <%= @user.email %></p>
<%= link_to 'profile_edit', edit_user_path %>
<h2>Favorites list</h2>
<div class="field">
<% @favorite_list.each do |picture| %>
  <%= image_tag picture.image.to_s %>
<p><%= picture.content %></p>
<p><%= button_to "Good!Cancel",favorite_path(id: current_user.favorites.find_by(picture_id: picture.id)),method: :delete %></p>
  <% end %>
</div>
