<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
    <header>
      <%= image_tag "insta.png", class: "logo_image"%>
      <nav>
        <ul class="top_menu">
          <li><%= link_to 'Home', pictures_path %></li>
          <li>
            <% if logged_in? %>
            <%= link_to "Profile", user_path(current_user.id) %>
          </li>
          <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
          <li>
            <% else %>
            <%= link_to "Sign up", new_user_path %>
          </li>
          <li>
            <%= link_to "Login", new_session_path %>
            <% end %>
          </li>
          <li>
            <% if logged_in? %>
            <%= link_to 'share', new_picture_path %>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <footer>
      <p>プライバシー·利用規約·広告·Ad Choices</p>
      <p>Cookie·その他·instagram©2021</p>
    </footer>
    </div>
  </body>
</html>
